= form_for trip do |form|
  = form.error_messages
  %p
    = form.label :completed_at, 'Date'
    %br
    = form.text_field :completed_at, :class => 'date'
  %p
    = form.label :description
    %br
    = form.text_area :description, :size => '50x5'

  - if country_trips.any?
    = render 'trips/form/countries', :country_trips => country_trips, :form => form

  .buttons
    = link_to 'Back', trips_path
    = form.submit 'Save'
