= form_for @user, :url => profile_path do |form|
  = form.error_messages
  %p
    = form.label :email
    %br
    = form.text_field :email
  %p
    = form.label :password
    %br
    = form.text_field :password
  %p
    = form.label :password_confirmation
    %br
    = form.text_field :password_confirmation

  .buttons
    = form.submit 'Save'
